@media screen and (max-width: 1200px){
  #desktops-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
      }

.menu-links{
position: absolute;
top: 100%;
right:0;
background-color: white;
width: fit-content;
max-height: 0;
overflow: hidden;
transition: all 0.3 ease-in-out;
 }
  
.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links.open{
  max-height: 300px;
}
}